// Easily set your styles here using sass variables

// header options
$header-index: 9999 !default;

// panel options
$panel-color: $dark;
$panel-top-distance: 88px;
$panel-width: 100% !default;
$panel-index: 9999 !default;

// mask options
$mask-color:	rgba(0,0,0,0.62);
$mask-index: 9998 !default;

// hamburger options
$hamburger-color: rgb(171,171,171);
$hamburger-color-active: rgb(171,171,171);

$hamburger-position-top: -22px !default;
$hamburger-position-x: 12.8px !default;

// if false, hamburger will sit to the right instead of the left
$hamburger-position-left: 'false' !default;
