/*----------------------------------------------------------------------------
  Variables
----------------------------------------------------------------------------*/

//  Colors
$primary: #1AB4D7;
$secondary: #21C0A2;
$tertiary: #54E2FF;
$gray: #7F7F7F;
$lightGray: #EBEBEB;
$offwhite: #f0f0fa;
$white: #fff;
$black: #000;
$dark: #199079;
$bodyCopy: #071E3D;

$red: #DD302A;
$yellow: #F2C43C;
$darkBlue: #1967CC;

// Font Families
// Add new families here
$sans: 'PT Sans', sans-serif;
$serif: 'PT Serif', serif;

// Font Weights
$light: 300;
$regular: 400;
$bold: 700;

// Set Box Shadows
$box_shadow: 0 0 5px 3px rgba(0, 0, 0, .2);
$box-shadow--white: 0 0 5px 3px rgba(255, 255, 255, .35);

// Spacing Variables
$gutter: 10px;
