/*----------------------------------------------------------------------------
  Variables
----------------------------------------------------------------------------*/

//  Colors
$primary: #282F38;
$secondary: #03FFD5;
$tertiary: #54E2FF;
$gray: #565554;
$lightGray: #a1a1a1;
$offwhite: #f0f0fa;
$white: #fff;
$black: #000;
$dark: #4b4b4b;

// Font Families
// Add new families here
$lato: "lato",sans-serif;
$overpass: 'Overpass', sans-serif;

// Font Weights
$light: 300;
$regular: 400;
$bold: 700;

// Set Box Shadows
$box_shadow: 0 0 5px 3px rgba(0, 0, 0, .2);
$box-shadow--white: 0 0 5px 3px rgba(255, 255, 255, .35);

// Spacing Variables
$gutter: 10px;
