/*-----------------------------------------------------------------------------
  Table of Contents
  - Vendor
  - Variables
  - Mixins
  - Globals
  - Components
  - Plugins
  - Pages
  - Parts

-----------------------------------------------------------------------------*/
// import the Sass partials in the order that you need here

// vendor
@import 'normalize';
@include normalize();

// Variables
@import 'settings/variables';

@import 'settings/ginger-settings';
@import 'ginger';

@import 'settings/nifty-settings';
@import 'nifty-nav';

@import 'settings/slick-theme';
@import 'slick.scss';

// Mixins
@import 'mixins/sugar';

// Global Styles
@import 'globals/global';
@import 'globals/wordpress';
@import 'globals/typography';

// Components
@import 'components/social-menu';
@import 'components/header';
@import 'components/footer';
@import 'components/forms';
@import 'components/buttons';
@import 'components/modal';

// Plugin Overrides
@import 'plugins/overrides';

// Pages
@import 'pages/page';
@import 'pages/home';
@import 'pages/search';

// Parts
@import 'parts/cta';
@import 'parts/dropdowns';
@import 'parts/fifty-fifty';
@import 'parts/hero';
@import 'parts/one-col';
@import 'parts/remodal';
@import 'parts/three-col';
