/*------------------------------------------------------------------------------
  Typography
------------------------------------------------------------------------------*/

// Links
a {
  text-decoration: none;

  &:hover {

  }
}

// Headers
h1 {
  font: $bold rem(40)/rem(45) $sans;
  color: $white;
}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

// Body Copy
p, ul, ol, li {
  margin-bottom: 15px;
  color: $bodyCopy;
}

// Media Queries
@media screen and (max-width: $small-breakpoint) {
}
